[Desktop Entry]
Version=1.0
Type=Application
Name=FreeCAD
Comment=General purpose 3D CAD modeler
Exec=freecad
Icon=freecad
Terminal=false
StartupNotify=true
Categories=Application;Graphics;3DGraphics;
MimeType=application/x-extension-fcstd;
